.pagination {
    background-color:  rgb(103, 157, 239);
    color: white;
    display: inline-block;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    width: 35px;
    padding: 7px 0;
    margin: 0 7px 7px 0;
    cursor: pointer;
}