.card {
    overflow: hidden;
    border: 1px solid rgb(49, 127, 243);
    border-radius: 10px;
    margin: 30px 0;
}

.card__content {
    margin: 10px 30px;
}

.card__content__text {
    font-weight: bold;
    margin: 12px 0;
}

.card__header {
    overflow: hidden;
    background-color:  rgb(49, 127, 243);
    color: white;
    padding: 5px 20px;
}

.card__heading {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.card__button {
    float: right;
    background-color: white;
    color: rgba(5, 93, 225, 1);
    border: none;
    border-radius: 20px;
    padding: 4px 10px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.row {
    display: table;
    padding: 4px 0;
}

.right {
    display: table-cell;
    width: 200px;
}

.left {
    display: table-cell;
    padding-left: 20px;
}