*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    position: relative;
    background-color: rgba(172, 172, 172, 0.21);
    color: #101326;
}
